<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Weakly Math Puzzles</title>
  <link rel="stylesheet" href="../static/css/style-general.css">
  <link rel="stylesheet" href="../static/css/style-header.css">
</head>
<body>
  <div id="header">
    <a href="/">
        <button type="button" class="header-button">This week</button>
    </a>
    <a href="/archive">
        <button type="button" class="header-button">Archive</button>
    </a>
    <a href="/leaderboard">
        <button type="button" class="header-button" id="highlighted-button">Leaderboard</button>
    </a>
  </div>

  <hr class="solid">

  <div>Work in progress</div>
</body>
</html>