
.question{
    position: relative;
    top: 120px;
    width: 75%;
    background-color: #C1D8F0;
    padding: 30px;
    color: #4663AC;
    font-size: 20px;
    font-family: 'Roboto';
    box-shadow: 0 -1px 1px 1px rgba(0,0,0,0.2);
}

.answers {
    position: relative;
    top: 120px;
    height: 500px;
    width: 75%;
    padding: 30px;
    margin-bottom: 200px;
    background-color: #E1F1FD;
    font-size: 20px;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.2);
}

.answer {
    margin-top: 10px;
    padding: 15px;
    border: solid 2px;
    border-radius: 10px;
    background-color: #D2DEEB;
    color: #4663AC;
    border-color: #4663AC;
    font-size: 25px;
    width: 60%;
}

input[type="radio"]:checked + label{
    border: solid 2px;
    background-color: #4663AC;
    color: #D2DEEB;
    border-color: #D2DEEB;
}

input[type="radio"]:hover + label{
    cursor: pointer;
}

@media only screen and (min-width: 1000px) {
    .question{
        width: 800px;
        padding: 30px;
    }
    .answers{
        width: 800px;
        padding: 30px;
    }
    .answer{
        width: 500px;
    }
}


#form-answers {
    position: relative;
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result {
    position: relative;
    height: 371.23px;
    display: none;
    justify-content: center;
    line-height: 371.23px;
    font-size: 40px;
    color: #4663AC;
}

#submitForm{
    position: relative;
    top: 30px;
}

input[type="radio"] {
    display: none;
}

#submitForm {
    position: relative;
    top: 50px;
}

.youtube{
    position: relative;
    top: 60px;
    font-size: 30px;
}

input.button {
    position: relative;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    top: 20px;
    left: 250px;
    height: 50px;
    font-size: 25px;
    background-color: #4663AC;
    color: #E1F1FD;
    border: none;
}

input.button:hover{
    height: 60px;
    top: 15px;
    padding-left: 25px;
    padding-right: 25px;
}




