
.header {
    height: 70px;
    width: 90%;
    background-color: #C1D8F0;
    margin: auto;
    position: relative;
    top: 20px;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.2);
}

.first-header-button{
    margin-left: 50px;
}

.header-button {
    width: 150px;
    height: 70px;
    font-size: 20px;
    color: #4663AC;
    border: 0px;
}

#highlighted-button {
    background-color:  #4663AC;
    color: #E1F1FD;
    cursor: pointer;
}

.header-button:hover {
    background-color:  #4663AC;
    color: #E1F1FD;
    cursor: pointer;
}