
hr.solid {
    border-top: 1px solid rgb(100, 100, 80);
    margin-bottom: 20px;
}

.header-button {
    font-size: 16px;
    /*font-weight: bold;*/
    color: grey;
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

#highlighted-button {
    background-color: rgba(211, 211, 211, 0.25);
}

#highlighted-button:hover, .header-button:hover {
    background-color: rgba(211, 211, 211, 0.5);
    cursor: pointer;
}